body,
html {
  height: 100%;
  margin: 0;
}

.video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: rgb(16, 15, 15);
}

#myVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

img {
  max-width: 20%;
  height: auto;
}

.announcement {
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
